Repository Azure/GuestConfiguration, changes with the labels that .github/labeler.yml gives for each.
All labels: Tests, Release

.github/labeler.yml:

Tests:
  - Tests/*.Tests.ps1

Release:
 - helpers/*
 - DscResources/*
 - GuestConfiguration.psm1
 - GuestConfiguration.psd1

add ability to generate InSpec content using private function (#81)
  Tests/GuestConfigurationModule.Tests.ps1
Labels: Tests

Feature/Separate tests into Contexts (#88)
  Tests/GuestConfigurationModule.Tests.ps1
Labels: Tests

Fix/Write error when PSDesiredStateConfiguration resources are used in Guest Config (#98)
  GuestConfiguration.psd1
  changelog.md
  helpers/GuestConfigurationPolicy.psm1
Labels: Release

Feature/mock integration tests for pull requests (#94)
  Tests/GuestConfigurationModule.Tests.ps1
  tools/azure-pipelines-pr.yml
  tools/azure-pipelines-release.yml
Labels: Tests

1.20.0 - Release to Gallery (#82)
  .gitignore
  GuestConfiguration.psd1
  GuestConfiguration.psm1
  changelog.md
  helpers/GuestConfigurationPolicy.psm1
Labels: Release

update build scripts (#102)
  tools/azure-pipelines-pr.yml
  tools/azure-pipelines-release.yml
Labels: none

Chore/rebase 1.19.4 on to prerelease (#93)
  Tests/GuestConfigurationModule.Tests.ps1
Labels: Tests

login to cleanup task (#103)
  Tests/GuestConfigurationModule.Tests.ps1
Labels: Tests

Fix/correct module version in tests (#101)
  Tests/GuestConfigurationModule.Tests.ps1
  tools/azure-pipelines-pr.yml
  ubuntu-bionic-18.04-cloudimg-console.log
Labels: Tests

confirm login before each IT that requires it (#95)
  Tests/GuestConfigurationModule.Tests.ps1
Labels: Tests

remove prerelease tag
  GuestConfiguration.psd1
Labels: Release

Fix/bad variable name in filestoinclude section (#96)
  GuestConfiguration.psd1
  GuestConfiguration.psm1
  Tests/GuestConfigurationModule.Tests.ps1
  changelog.md
Labels: Tests, Release

Fix/new linux policy bad variable reference (#105)
  GuestConfiguration.psd1
  changelog.md
  helpers/GuestConfigurationPolicy.psm1
Labels: Release

only run private builds manually (#104)
  tools/azure-pipelines-release.yml
Labels: none
